<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qoobot.openscm.system.mapper.SysRoleMapper">

    <select id="selectByUserId" resultType="com.qoobot.openscm.system.entity.SysRole">
        SELECT r.*
        FROM sys_role r
        INNER JOIN sys_user_role ur ON r.id = ur.role_id
        WHERE ur.user_id = #{userId}
          AND r.status = 1
          AND r.del_flag = 0
    </select>

    <delete id="deleteRoleMenus">
        DELETE FROM sys_role_menu WHERE role_id = #{roleId}
    </delete>

    <insert id="insertRoleMenu">
        INSERT INTO sys_role_menu (role_id, menu_id) VALUES (#{roleId}, #{menuId})
    </insert>

    <select id="selectMenuIdsByRoleId" resultType="java.lang.Long">
        SELECT menu_id FROM sys_role_menu WHERE role_id = #{roleId}
    </select>

</mapper>
